{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-3">

    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Expenses Sumary</a></li>
                <li class="breadcrumb-item active" aria-current="page">Expenses x Income</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-2">
            <a href="{% url 'expenses' %}" class="btn btn-primary">Back</a>
        </div>
    </div>

    {% include 'partials/_messages.html' %}

</div>

<div class="container"  style="height: 500px">
    <canvas id="incomeExpenseChart" width="150" height="150"></canvas>
</div>


<script src="{% static 'js/expeses_incomes_charts.js' %}"></script>
{% endblock %}