{% extends 'base_auth.html' %}

{% load static %}

{% block content %}

<br><br><br><br>
<div class="row">

    <div class="col-md-4"></div>

    <div class="col-md-4">
        <div class="card mt-40">

            
            <div class="card-body">
                <div class="card-title">
                    <h4>Register for a free accont</h4>
                </div>


                <form action="" method="post" autocomplete="off">
                    {% csrf_token %}
                    {% comment %} NAME {% endcomment %}
                    <div class="form-group">
                        <input type="text" name="username" id="id_username" class="form-control mt-3" placeholder="Username"/>
                    </div>
                    <div class="invalid-feedback" style="display: none">
                        
                    </div>
                    <p class="text-sm text-success usernameSucessOutput"></p>
                    {% comment %} EMAIL {% endcomment %}
                    <div class="form-group">
                        <input type="email" name="email" id="id_email" class="form-control  mt-3" placeholder="Email"/>
                    </div>
                    <div class="invalid-email" style="display: none">

                    </div>
                    
                    {% comment %} PASSWORD {% endcomment %}
                    <div class="form-group">
                        <input type="password" name="password" id="id_password" class="form-control  mt-3 mb-2" placeholder="Password"/>

                        <p class="text-end">SHOW</p>
                    </div>
                    {% comment %} BUTTON {% endcomment %}
                    <div class="d-grid gap-2">
                        <input type="submit" value="Register" class="btn btn-primary"/>
                    </div>
                </form>

            </div>
        </div>
    </div>
    
    <div class="col-md-4"></div>

</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock %}