{% extends 'base_auth.html' %}

{% load static %}

{% block content %}

<br><br><br><br>
<div class="row">

    <div class="col-md-4"></div>

    <div class="col-md-4">
        <div class="card mt-40">

            
            <div class="card-body">
                <div class="card-title">
                    <h4>Set your new password</h4>
                </div>

                {% include 'partials/_messages.html' %}


                <form action="{% url 'reset-user-password' uidb64 token %}" method="post" autocomplete="off">
                    {% csrf_token %}
                    
                    {% comment %} PASSWORD 1 {% endcomment %}
                    <div class="form-group">
                        <input type="password" name="password" id="id_password" class="form-control  mt-3 mb-2" placeholder="Password"/>

                        <p class="float-right showPasswordToggle">SHOW</p>
                    </div>

                    {% comment %} PASSWORD 2 {% endcomment %}
                    <div class="form-group">
                        <input type="password" name="password2" id="id_password2" class="form-control  mt-3 mb-2" placeholder="Confirm Password"/>

                        <p class="float-right showPasswordToggle">SHOW</p>
                    </div>


                    {% comment %} BUTTON {% endcomment %}
                    <div class="d-grid gap-2">
                        <input id="register-button" type="submit" value="Submit" class="btn btn-primary submit-btn"/>
                    </div>
                </form>

                <span>Do you have an account? </span><a href="{% url 'login' %}">Log in</a><br>
                <span >Don't have an account? </span><a href="{% url 'register' %}">Register</a><br>
                
            </div>
        </div>
    </div>
    
    <div class="col-md-4"></div>

</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock %}